<!DOCTYPE html>
<html>
    <head>
	<title>Index Page</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    </head>
    <body>
	<form>
	<input type="text" name="username" id="username" />
	<button>Send</button>
	</form>

	<% if (typeof username !== 'undefined') { %>
	    <h2 id="h2"><%= username %></h2>
	<% } %>	

	<br>
	<button id="button">Show</button>
	<p id="p"></p>
	<script>
	 $("form").submit(function(event){
	     event.preventDefault();
	     $.ajax({
		 type: "POST",
		 url: "/login",
		 data: {"username": $('#username').val()},
		 success: function(data){
		     if (data){
			 console.log('DATA:', data);
		     }
		     else{
			 console.log('DATA: else statement');
		     }

		 },
		 dataType: "json"
	     });
	 });
	 
	 $('#button').click(function(){
	     $('#p').load('users h1', {});
	 });
	</script>
    </body>
</html>
