<!DOCTYPE html>
<html>
    <head>
	<title>Index Page</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    </head>
    <body>
	<form action="/login" method="POST">
	<input type="text" name="username" />
	<button>Send</button>
	</form>

	<button id="button">Click here</button>
	<p id="p"></p>
	
	<script>
	 $("#button").click(function(){
	     $("#p").load("http://localhost:3000/users", function(responseTxt, statusTxt, xhr){
		 if(statusTxt == "success")
		     alert("External content loaded successfully!");
		 if(statusTxt == "error")
		     alert("Error: " + xhr.status + ": " + xhr.statusText);
	     });
	 });
	</script>
    </body>
</html>
