<!DOCTYPE html>
<html>
    <head>
	<title>Room Page</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>

	<br />
	<% if (locals.username){ %>
	    <h1><%= username %></h1>
	<% } %>
	
	<ul id="ul"></ul>
	<form id="form" action="">
	    <input type="text" id="message" name="message" />
	    <input type="submit" value="Send" />
	</form>
	
	<script src="/socket.io/socket.io.js"></script>
	<script>
	 $(function () {
	     var socket = io();

	     socket.on('socket io', function (data) {
		 console.log("SOCKET IO", data);
		 //		 $('#ul').append($('<li>').append(data));
		 $('#p').text(data);
	     });

	     socket.on('add message to ul', function (data) {
		 $('#ul').append($('<li>').append(data));
	     });
	     
	     $.ajax({
		 url: 'http://localhost:3000/messages', /* we pass the user input url value here */
		 dataType:'json',
		 async:false,
		 success:function(data){
		     console.log('ajax success', data); /* returns the data in the XML to the browser console */
		     for (var i = 0; i < data.length; ++i){
			 console.log(data[i].message);
			 $('#ul').append($('<li>').append(data[i].message));
		     }
		 }
	     });

	     
	     $('#form').submit(function (event){
		 console.log('FORM IS CALLED');
		 event.preventDefault();
		 $.ajax({
		     type: "POST",
		     url: '/room',
		     data: {message: this.message.value},
		     success: function(arg){
			 console.log('Success send Post:', arg);
		     },
//		     dataType: dataType
		 });
		 socket.emit('test message', this.message.value);
		 $('form #message').val('');
		 return false;
	     });
	     
	     
	 });
	</script>
	
    </body>
</html>
