<!DOCTYPE html>
<html>
    <head>
	<title>Room Page</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<style type="text/css">
	 .console {
	     height: 200px;
	     width: 50%;
	     
	     font-family:Courier;
	     color: #CCCCCC;
	     background: #000000;
	     border: 3px double #CCCCCC;
	     padding: 10px;
	     overflow-y: auto;
	 }

	 ul {
	     list-style-type: none;
	     margin: 0;
	     padding: 0;
	 }

	 #span{
	     color: #99ff66
	 }
	</style>
    </head>
    <body>

	<br />
	<% if (locals.username){ %>
	    <h1>Welcome <span id="usernameId"><%= username %></span></h1>
	<% } %>

	<div class="console">
	    <ul id="ul"></ul>
	</div>
	
	<form id="form" action="">
	    <input type="text" id="message" name="message" />
	    <input type="submit" value="Send" />
	</form>
	
	<script src="/socket.io/socket.io.js"></script>
	<script>
	 $(function () {
	     var socket = io();
	     var username = document.getElementById('usernameId').innerHTML;
	     console.log("USERNAME --------------------> ", username);
	     var message;

	     socket.on('add message to ul', function (data) {
		 $('#ul').append($('<li>').append($('<span id="span">').append(data.username), ': ' + data.message));
		 //username = data.username;
		 message = data.message;
	     });
	     
	     $.ajax({
		 url: 'http://localhost:3003/messages', /* we pass the user input url value here */
		 dataType: 'json',
		 async: false,
		 success: function(data){
		     console.log('ajax success', data); /* returns the data in the XML to the browser console */
		     for (var i = 0; i < data.length; ++i){
			 console.log(data[i].message);
			 $('#ul').append($('<li>').append($('<span id="span">').append(data[i].user), ': ' + data[i].message));
		     }
		 }
	     });
	     
	     $('#form').submit(function (event) {
		 console.log('FORM IS CALLED: ', username);
		 event.preventDefault();
		 /*$.ajax({
		     type: "POST",
		     url: '/room',
		     data: {
			 username: username,
			 message: message
		     }
	     });*/
		 socket.emit('test message', {
		     message: this.message.value,
		     username: username
		 });
		 $('form #message').val('');
		 return false;
	 });
	     
	     
	 });
	</script>
	
    </body>
</html>
