<!DOCTYPE html>
<html>
    <head>
	<title>Test Page</title>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<style type="text/css">
	 .console {
	     font-family:Courier;
	     color: #CCCCCC;
	     background: #000000;
	     border: 3px double #CCCCCC;
	     padding: 10px;

	     height: 300px;
	     weight: 300px;
	 }

	 ul {
	     list-style-type: none;
	     margin: 0;
	     padding: 0;
	 }

	 span{
	     color: #99ff66
	 }
	</style>

    </head>
    <body>
	
	<div class="console">
	    <ul>
		<li><span>aca@terminal-BG-1389</span>: Sta</li>
		<li><span>aca@terminal-BG-1389</span>: ako</li>
		<li><span>aca@terminal-BG-1389</span>: gde</li>
	    </ul>
	</div>

	
    </body>
</html>
