<!DOCTYPE html>
<html>
    <head>
	<title>Test Page</title>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<style type="text/css">
	  
	</style>

    </head>
    <body>
	<div>
	    <p id="username"></p>
	</div>

	<ul id="users">
	</ul>
	
	<script src="/socket.io/socket.io.js"></script>
	<script>
	 var socket = io();

	 var username = "<%= username %>";

	 var clients = [];

	 document.getElementById('username').innerHTML = username;
	 var users = document.getElementById('users');


	 socket.on('clients', function(clients){
	     console.log("Clients:", clients);
	     //clients.push(data);
	     clients.forEach( function(item, index, array){
		 console.log("FOREACH:", item, " : ", index, " - ", array);
		 var li = document.createElement("li");
		 li.setAttribute('id', index);
		 li.innerHTML = item;
		 users.appendChild(li);
	     });

	 });

	 socket.emit('join room', username);

	 
	</script>
    </body>
</html>
